
.grid_margin {
  margin: 2em 0!important;
  flex: 1 0 auto!important;
  width: 100%!important;
}

.wrapper{
  display: flex!important;
  flex-direction: column!important;
  min-height: 100vh!important;
}
.h3_style {
  margin: 0!important;
}
.changed_view {
  display: flex!important;
  justify-content:center!important;
  align-items: center!important;
  flex-direction: column!important;
  margin-top: 4px!important;
}
.radio_view {
  margin-top: 4px!important;
}
