.idnotfound {
  position: relative;
  height: 100vh;
}

.idnotfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.notfound {
  max-width: 410px;
  width: 100%;
  text-align: center;
}

.notfound .notfound404 {
  height: 280px;
  position: relative;
  z-index: -1;
}

.notfound .notfound404 h1 {
  font-family: 'Montserrat'!important;
  font-size: 230px;
  margin: 0px;
  font-weight: 900;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background: url('../common/bg.jpg') no-repeat;
  -webkit-background-clip: text;
  background-clip:text;
  -webkit-text-fill-color: transparent;
  background-size: cover;
  background-position: center;
}


.notfound h1 {
  font-family: 'Montserrat'!important;
  color: #000;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase!important;
  margin-top: 0;
}

.notfound p {
  font-family: 'Montserrat'!important;
  color: #000;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 20px;
  margin-top: 0px;
}

.notfound .link_styles {
  font-family: 'Montserrat'!important;
  background-color: transparent;
  border: 1px solid #0046d5;
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  color: #fefefe;
  display: inline-block;
  font-size: 1rem;
  font-weight: 300;
  margin: 6px;
  overflow: hidden;
  position: relative;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
  white-space: normal!important;
  word-wrap: break-word;
  transition: background-color 1000ms;
  background-color: #0046d5;
  border-radius: 40px;
}

.link_styles:hover {
    color: #a6c;
    -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
    background-color: transparent;
}
