

.codes_view {
  list-style: none;
  display: flex;
  width: 200px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.code_view{
  color:#E40046;
}

.h3_view {
  margin: 0!important;
  text-align: center!important;
}

.percent_view {
  color: white;
  background: #E40046;
  border-radius: 40px;
  padding: 5px;
}